[mysqld]
datadir=/var/lib/mysql
socket=/tmp/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd

transaction_isolation = READ-COMMITTED

## log
general_log=1
general_log_file=/var/log/mysql/query.log

#slow_query_log=1
#slow_query_log-file = /var/log/mysql/slow.log
#long_query_time = 1

## network
max_allowed_packet = 16M
max_connections = 1000
max_connect_errors = 10000

## cache size
table_open_cache = 2000
thread_cache_size = 100
query_cache_type = 1
query_cache_size=1024M
binlog_cache_size = 16M
max_heap_table_size = 64M
tmp_table_size = 64M

## innodb
#innodb_buffer_pool_size = 5G
innodb_buffer_pool_size = 256M

innodb_data_file_path = ibdata1:10M:autoextend

#innodb_log_buffer_size = 128M
innodb_log_buffer_size = 64M

innodb_doublewrite = 0
innodb_lock_wait_timeout = 5
innodb_support_xa = 1
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_file_per_table
innodb_file_format = Barracuda
innodb_io_capacity=2000

[mysqld-5.6]
default_storage_engine = InnoDB
#innodb_log_file_size = 512M
innodb_log_file_size = 16M
innodb_io_capacity_max=4000
innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup = 1
# innodb_flush_neighbors = 0       # For SSD.
# innodb_random_read_ahead = false # For SSD.
# innodb_read_ahead_threshold = 0  # For SSD.

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
